<style>
{
  width:100%;overflow-x:scroll;text-align:left;
  pre{white-space:pre-wrap;}
}
</style>
<div>
  <h1>Sonnet 14</h1>
  <pre>
    Sonnet 14 is an English or Shakespearean sonnet, which consists of three quatrains followed by a couplet. It follows the traditional rhyme scheme of the form: abab cdcd efef gg. Like many of the others in the sequence, it is written in a type of metre called iambic pentameter, which is based on five pairs of metrically weak/strong syllabic positions per line.

    Typically English sonnets present a problem or argument in the quatrains, and a resolution in the final couplet.[2] This sonnet suggests this pattern, but its rhetorical structure is more closely modeled upon the older Petrarchan sonnet which arranges the octave (the first eight lines) in contrast to the sestet (the final six lines).

    Line 3 exemplifies a regular iambic pentameter:

          ×   /   ×  /   ×   /    ×  / ×   /
        But not to tell of good, or evil luck, (14.3)

    / = ictus, a metrically strong syllabic position. × = nonictus.
  </pre>
</div>
