<style>
{
  height:100%;
}
</style>

<div>
  <section nav="William Shakespeare" component="./page/a.htm" version="ENV.version"></section>
  <section nav="《Sonnet 14》" component="./page/b.htm" version="ENV.version"></section>
  <section nav=" ～ Sonnet 1" component="./page/c.htm" version="ENV.version"></section>
</div>

<script>
var pages = me.find('>section').map(function(){
  var name = $(this).attr('nav');
  var id = $.randomId();
  $(this).attr('if','active_page.id|=:'+id);
  return {
    name: name,
    id: id
  }
}).get();

me.trigger({type:'main:pages_registered',pages:pages});

me.container.on('nav:active',navActive);

me.on('destroy',function(){
  me.container.off('nav:active',navActive);
});

function navActive(event){
  var active_page = event.active_page;
  me.reload({active_page:active_page});
  me.trigger({type:'main:actived',active_page:active_page})
}
</script>
