<style>
{padding:20px;color:#fff;}
</style>
<div>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
  <h1>Nav</h1>
</div>
<script>
me.on('click','h1',function(){
  me.html( me.children().clone().addBack() );
});
</script>
