<style>
{
  @padding-width:20px;
  padding-top:@padding-width;color:#fff;
  >[rows-body]{
    a{display:block;height:40px;padding:0 @padding-width;line-height:40px;color:#fff;text-decoration:none;cursor:pointer;
      &.active,&:hover{background:#2b3642;}
    }
  }
}
</style>

<div>
  <div rows-body></div>
  <script type="text/html" row-tpl>
    <a data-src="name" data-href="id"></a>
  </script>
</div>

<script>
var pages;

me.container.on('main:pages_registered',navRegister).on('main:actived',navActive);

me.on('click','[rows-body] a',function(){
  if($(this).is('.active')){return false;}

  var active_page = $(this).getCoreData();
  me.trigger({type:'nav:active',active_page:active_page});
  return false;
}).on('destroy',function(){
  me.container.off('main:pages:registered',navRegister).off('main:actived',navActive);
});

function navRegister(event){
  pages = event.pages;
  me.renderTable(pages);
}

function navActive(event){
  var active_page = event.active_page;
  me.find('[rows-body] a').filter(function(){
    var page = $(this).getCoreData();
    return page == active_page;
  }).addClass('active').siblings().removeClass('active');
}
</script>
