<style>
{
  @padding-width:20px;
  padding-top:@padding-width;color:#fff;
  >[rows-body]{
    a{display:block;height:40px;padding:0 @padding-width;line-height:40px;color:#fff;text-decoration:none;cursor:pointer;
      word-break:break-all;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
      &.active,&:hover{background:#2b3642;}
    }
  }
}
</style>

<div>
  <div rows-body></div>
  <script type="text/html" row-tpl>
    <a data-src="name"></a>
  </script>
</div>

<script>
var pages;

me.container.on('main:pages_registered',navRegister).on('main:actived',navActive);

me.on('click','[rows-body] a',function(){
  if($(this).is('.active')){return false;}

  var active_page = $(this).getCoreData();
  me.trigger({type:'nav:active',active_page:active_page});
  return false;
}).on('destroy',function(){
  me.container.off('main:pages:registered',navRegister).off('main:actived',navActive);
});

function navRegister(event){
  pages = event.pages;
  me.renderTable(pages);
  setTimeout(initActivePage);
}

function navActive(event){
  var active_page = event.active_page;

  var active_link = me.find('[rows-body] a').filter(function(){
    var page = $(this).getCoreData();
    return page == active_page;
  }).addClass('active');

  //memorize active_index
  var active_index = me.find('[rows-body] a').index( active_link );
  $.updateLocalJsonData('etc', 'side_nav_activeIndex', active_index);

  active_link.siblings().removeClass('active');
}

function initActivePage(){
  var active_index = +$.getLocalJsonData('etc', 'side_nav_activeIndex', 0);
  me.find('[rows-body] a').eq(active_index).click();
}
</script>
